.tweet:hover {
  opacity: 1;
  transition: .5s;
}

.tweet {
  opacity: 0.8;
  margin: 20px 0 20px 0;
  border: #d2c9c9 1px solid;
  border-radius: 10px;
  display: flow-root;
  background-color: whitesmoke;
}

.tweet div {
  width: 100%;
  background-color: white;
  padding: 25px 10px 25px 10px;
}

.tweet .author {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.tweet .avatar {
  width: 30px;
  vertical-align: bottom;
  border-radius: 30px;
}

.tweet .handle {
  color: #39ccb7;
  font-size: small;
  float: right;
  padding-right: 2.5px;
}

.tweet {
  display: inline-block;
  width: 89%;
  margin: 1.5em;
}

.tweet header {
  opacity: 0.5;
  padding: 5px;
  border-bottom: #f3f3f3 0.5px solid;
  background-color: #eee;
  border-radius: 10px 10px 0 0;
  margin-top: 0;
}

.tweet footer {
  border-top: #f3f3f3 0.5px solid;
  margin-top: 0;
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 8px;
  font-size: smaller;
  color: darkgrey;
}

.tweet i {
  float: right;
  padding-left: 8px;
  opacity: 0;
}

.tweet:hover header {
  opacity: 1;
  transition: .5s;
}

.tweet:hover i {
  opacity: 1;
  transition: .5s;
}